<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  <connectionStrings>
    <!--<add name="ConnString" connectionString="server=192.168.168.30;UID=puntonet;PWD=bdsql200;database=sappuntonet" providerName="System.Data.SqlClient"/>-->
    <add name="ConnString" connectionString="server=192.168.0.6;UID=sa;PWD=Marsopa10702607;database=sappuntonet2" providerName="System.Data.SqlClient"/>
  </connectionStrings>
 
  <appSettings>
    <add key="rootExportaciones" value="H:\wwwroot\clientes.hugoo.com\"/>
    <add key="CadaxFilas" value="10000"/>
    <add key="segundos" value="10"/>
    <add key="From_Carga" value="soporte@hugoo.com"/>
    <add key="Nombre_From" value="Soporte hugoo"/>
    <add key="usuarios" value="206"/>
    
    <!--si es gmail imap.googlemail.com-->
    <add key="host" value="192.168.0.15"/>
    <add key="credencial" value="1622"/>
    <!--Si fuera gmail seria 587 el puerto, si es un servidor outlook casi siempre el puerto 25, yo utilizo un servidor propio de correo-->
    <add key="puerto" value="25"/>
  </appSettings>
</configuration>





